
/*LOGIN FORM */

.login {
    margin: 50px auto;
    width: 340px;
  }

/* BODY og CONTAINER */

body{
    height: 100%;
    margin: 0;  
    display: flex;   
    font-family: monospace;
}

#flexContainer{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    
}

/* SIDEBAR */
#sidebar{
    min-height: 100%;
    width: 70px;
    background-color: rgb(66, 66, 109);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    
    
    
}
#homeLogo{
    width: 60px;
    height: 40px;
    background-color: rgb(221, 220, 220);
    margin-top: 100px;
    margin-left: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 0;  
}

#likedLogo{
    width: 60px;
    height: 40px;
    background-color: rgb(221, 220, 220);
    margin-top: 5px;
    margin-left: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 0;
}

/* HEADER */
#header{
    min-height: 8vh;
    width: 100%;
    margin: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
#profilePicture{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    cursor: pointer;
    
}

#utilGroup{
    display: flex;
    
}
#knap{
    margin-right: 40px;
    background-color: white;
    cursor: pointer;
}

#accountName{
    font-family: monospace;
    font-weight: bold;
    color: rgb(82, 81, 127);
    margin-right: 20px;
    margin-top: 15px;

}
#searchField{
    display: none;
}



/* CONTENT */
#content{
    background-color: rgb(221, 220, 220);
    display: flex;
    height: 92vh;
    align-items: center;
    justify-content: space-evenly;
}

#configContainer{
    background-color: rgb(143, 218, 143);
    padding: 30px;

}

#favouriteContainer{
    padding: 30px;
    background-color: rgb(143, 218, 143);
}

#favouriteText{
    font-weight: bold;
    font-size: 12px;
}

#updateAcc{
    font-weight: bold;
    font-size: 12px;
}
















