
/* CONTENT */
#content{
    background-color: rgb(221, 220, 220);
    display: flex;
    height: 92vh;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#configContainer{
    background-color: rgb(143, 218, 143);
    padding: 30px;
}

#favouriteContainer{
    padding: 30px;
    background-color: rgb(143, 218, 143);
}

#favouriteText{
    font-weight: bold;
    font-size: 12px;
}

#updateAcc{
    font-weight: bold;
    font-size: 12px;
}

.accountImage{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
}

#configImageContainer{
    background-color: rgb(143, 218, 143);
    padding: 30px;
}

#pictureContainer{
    display: flex;
    justify-content: space-between;
}

#pictureText{
    font-weight: bold;
    margin-left: 25px;
}
















