body{
    height: 100%;
    margin: 0;  
    display: flex;   
    font-family: monospace;
}

#flexContainer{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
}

/* SIDEBAR */
#sidebar{
    min-height: 100%;
    width: 70px;
    background-color: rgb(66, 66, 109);
    flex-shrink: 0;
    display: flex;
    flex-direction: column; 
}

#homeLogo{
    width: 60px;
    height: 40px;
    background-color: rgb(221, 220, 220);
    margin-top: 100px;
    margin-left: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 0;  
}

#likedLogo{
    width: 60px;
    height: 40px;
    background-color: rgb(221, 220, 220);
    margin-top: 5px;
    margin-left: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 0;
}

/* HEADER */
#header{
    min-height: 8vh;
    width: 100%;
    margin: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profilePicture{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    cursor: pointer;
}

#utilGroup{
    display: flex;
}

#knap{
    margin-right: 40px;
    background-color: white;
    cursor: pointer;
}

#accountName{
    font-family: monospace;
    font-weight: bold;
    color: rgb(82, 81, 127);
    margin-right: 20px;
    margin-top: 15px;
}

#searchField{
    margin-left: 80px;
    display: flex;
    box-shadow: 0 0 3px #ccc;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#submit{
    background-color: white;
    cursor: pointer;
    border: 0;
    width: 50px;
}
#searchbar{
    width: 200px;
    height: 30px;
    border: 0;
}

#searchbar:focus{
    outline: none;
}


#parameterText{
    position: absolute;
    height: 160px;
    width: 400px;
    /* standard er z index 1, så vi tager selvfølgelig index 2 */
    z-index: 2;
    margin-left: 0px;
    margin-top: 5px;
    display: none;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    
}

#searchParameters:hover #parameterText{
    display: block;
    
}

#searchParameters{
    position:absolute;
    margin-left: 10px;
    box-shadow:0 0 3px #ccc ;
    height: 50px;
    width: 50px;
    text-align: center;
}


#parentContainer{
    display: flex;
    justify-content: space-between;
}

.parameterTitle{
    font-weight: bold;
}


/* CONTENT */
#content{
    background-color:rgb(221, 220, 220);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

#rightContainer{
    background-color: rgb(221, 220, 220);
    height: 100%;
    flex-basis: 50%;
    display: flex;
}

#leftContainer{
    background-color: rgb(221, 220, 220);
    height: 100%;
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
}

#infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.readMoreButton{
    background-color: white;
    border-radius: 5px;
    border: 1.5px solid 	#9c9c9c;
    font-family: monospace;
    font-size: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 5px;
}

.alreadyRead{
    position: absolute;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 8px;   
    margin-left: 130px;
    border: 1.5px solid #9c9c9c;
    color: white;
    visibility: hidden;
}


