
/* CONTENT */
#content{
    background-color: rgb(221, 220, 220);
    display: flex;
    height: 92vh;
    align-items: center;
    justify-content: center;
}

#loginContainer{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.loginStyling{
    margin-left: 20px;
}


/*LOGIN FORM */

.login {
    width: 340px;
    height: 250px;
    background-color: grey;
    border-radius: 5px;
  }

#requireText{
    margin-left: 20px;
}
















