#newsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#smallNewsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 650px;
    margin-top: 7px;
    margin-left: 20px;   
}


#bigNews{
    background-color: white;
    height: 180px;
    width: 650px;
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
}

.smallNews{
    height: 200px;
    width: 200px;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.articleImage{
    height: 100px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
   
}

.articleText{
    /*gemmer teksten væk så den ikke flyder over */
    overflow: hidden;
    font-size:10px;
    height: 50px;
}

#bigNewsImage{
    width: 650px;
    height: 180px; 
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
}

#bigNewsTextContainer{
    display: flex;
    z-index: 1;
    
    width: 100%;
    justify-content: space-between;
}
#innerText{
    
    width: 80%;
}
#buttonContainer{
    width: 20%;
    
}

#button0{
    height: 30px;
    margin-top: 145px;
    margin-left: 30px;
    
}
#bigArticleText{
    height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 40px;
}
#bigArticleAuthor{
    color: white;
    margin-left: 30px;
}

.publisherName{
    font-size: 10px;
}

.bottomDiv{
    display: flex;
    justify-content: space-between;
}


#articleReadContainer{
    width: 650px;
    height: 600px;
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#readImage{
    width: 650px;
    height: 180px; 
    object-fit: cover;
    border-radius: 10px;
    border: 0;
}

#readAuthor{
    font-weight: bold;
    font-size: 25px;
}

#readTitle{
    font-size: 20px;
    font-style: italic;
}

#readText{
    font-size: 15px;
    height: 100%;
}

